@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* box-sizing: border-box; */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* +basic settings html, body*/
html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  max-width: 1300px;
  height: 941.32px;
  background-color: #000;
  background-image: url(../img/MainBackground.png);
}

.header__container {
  position: absolute;
  height: 56px;
  border: 1px solid #1E2D3D;
  border-radius: 10px 10px 0px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px 10px 0px 0px;
}
.menu a {
  text-decoration: none;
}
.menu .menu__list-1 {
  width: 311px;
  padding-top: 14px;
  padding-bottom: 19px;
  text-align: start;
  padding-left: 22px;
  border-right: 1px solid #1E2D3D;
}
.menu .menu__list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu .menu__list-2 .menu__sublist-1 {
  width: 121px;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
  border-right: 1px solid #1E2D3D;
}
.menu .menu__list-2 .menu__sublist-1:hover {
  border-bottom: 3px solid #FEA55F;
}
.menu .menu__list-2 .menu__sublist-2 {
  width: 150px;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
  border-right: 1px solid #1E2D3D;
}
.menu .menu__list-2 .menu__sublist-2:hover {
  border-bottom: 3px solid #FEA55F;
}
.menu .menu__list-2 .menu__sublist-3 {
  width: 150px;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
  margin-right: 870px;
  border-right: 1px solid #1E2D3D;
}
.menu .menu__list-2 .menu__sublist-3:hover {
  border-bottom: 3px solid #FEA55F;
}
.menu .menu__list-3 {
  width: 175px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-right: 23px;
  padding-left: 24px;
  text-align: center;
  border-left: 1px solid #1E2D3D;
}
.menu .menu__list-3:hover {
  border-bottom: 3px solid #FEA55F;
}
.menu .menu__link {
  width: 87px;
  height: 21px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607B96;
}