@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* box-sizing: border-box; */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* +basic settings html, body*/
html, body{
    height: 100%;
    min-width: 320px;
}
body{
    line-height: 1;
}
// ==========================================

body{
    width: 1782px;
    height: 941.32px;
    background-image: url(../img/MainBackground.png)
}
.header {
    
}
.header__container {
    position: absolute;
    width: 1782px;
    height: 56.19px;
    border: 1px solid #607B96;
}
.header__menu {
}
.menu {
    display: flex;
    flex-direction: row;
    .menu__list-1{
        width: 311px;
    }
    .menu__list-2{
        display: flex;
        flex-direction: row;
        max-width: 421px;
    }
    .menu__list-3{
        max-width: 1050px;
    }
}
.menu__list {

}
.menu__item {
    

}
.menu__link{
    width: 87px;
    height: 21px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    color: #607B96;
}

