@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* box-sizing: border-box; */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* +basic settings html, body*/
html, body{
    height: 100%;
    min-width: 320px;
}
// ==========================================
body{
    line-height: 1;
	max-width: 1300px;
    height: 850px;
    background-color: #000;
    background-image: url(../img/MainBackground.png);

    border-radius: 10px 10px 10px 10px;
}
.header{
    position: relative;
}
.header__container {
    position: absolute;
    height: 56px;
    border: 1px solid #1E2D3D;
    border-radius: 10px 10px 0px 0px;
}
.menu {
    display: flex;
    flex-direction: row;
    a{
        text-decoration: none;
    }

    .menu__list-1{
        cursor: default;
        width: 311px;
        padding-top: 14px;
        padding-bottom: 19px;
        text-align: start;
        padding-left: 22px;
        border-right: 1px solid #1E2D3D;
    }
    .menu__list-2{
        display: flex;
        flex-direction: row;
        .menu__sublist-1{
            width: 121px;
            padding-top: 14px;
            padding-bottom: 16px;
            text-align: center;
            border-right: 1px solid #1E2D3D;
            &:hover{
                border-bottom: 3px solid  #FEA55F;
            }
        }
        .menu__sublist-2{
            width: 150px;
            padding-top: 14px;
            padding-bottom: 16px;
            text-align: center;
            border-right: 1px solid #1E2D3D;
            &:hover{
                border-bottom: 3px solid  #FEA55F;
            }
        }
        .menu__sublist-3{
            width: 150px;
            padding-top: 14px;
            padding-bottom: 16px;
            text-align: center;
            margin-right: 625px;
            border-right: 1px solid #1E2D3D;
            &:hover{
                border-bottom: 3px solid  #FEA55F;
            }
        }
    }
    .menu__list-3{
        width: 175px;
        padding-top: 14px;
        padding-bottom: 16px;
        padding-right: 23px;
        padding-left: 24px;
        text-align: center;
        border-left: 1px solid #1E2D3D;
        &:hover{
            border-bottom: 3px solid  #FEA55F;
        }
    }
    .menu__link{
        width: 87px;
        height: 21px;
        font-family: 'Fira Code';
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        color: #607B96;
    }
    border-radius: 10px 10px 0px 0px;
}
// ===================================================
//main:
.main{
    position: absolute;
    margin-top: 55px;
    width:1534px;
    height: 768px;
    color: #fff;
}
.main {
}
.main__container {
    margin-top: 300px;
}
.main__title {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 24px;
    color: #E5E9F0;
    text-align: center;
}
.main__name {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 81px;
    color: #E5E9F0;
    text-align: center;
}
.main__position {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 450;
    font-size: 32px;
    line-height: 42px;
    color: #4D5BCE;
    text-align: center;

}



// ===================================================
//footer:
.footer{
    position: absolute;
    margin-top: 823px;
    height: 56px;
    border: 1px solid #1E2D3D;
    border-radius: 0px 0px 10px 10px;
}
.item{
    display: flex;
    flex-direction: row;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    color: #607B96;
}
.item__list-1{
    cursor: default;
    padding-left: 22px;
    padding-right: 18px;
    padding-top: 15px;
    width: 150px;
    height: 56px;
    border-right: 1px solid #1E2D3D;
}
.item__list-1{
    display: flex;
    flex-direction: row;
}
.item__list-2{
    display: flex;
    flex-direction: row;
}
.item__link{
    
    img{
        width: 24px;
        height: 24px;
    }
}
.item__sublist-1 {
    width: 52px;
    height: 56px;
    border-right: 1px solid #1E2D3D;
    padding-left: 14px;
    padding-top: 13px;
    padding-right: 14px;
    &:hover{
        border-bottom: 3px solid  #FEA55F;
    }
}
.item__sublist-2 {
    width: 52px;
    height: 56px;
    border-right: 1px solid #1E2D3D;
    padding-left: 14px;
    padding-top: 13px;
    padding-right: 14px;
    margin-right: 1135px;
    &:hover{
        border-bottom: 3px solid  #FEA55F;
    }
}
.item__list-3{
    display: flex;
    flex-direction: row;
    border-left: 1px solid #1E2D3D;
    &:hover{
        border-bottom: 3px solid  #FEA55F;
    }
        a{
            padding-left: 23px;
            padding-top: 16px;
            font-family: 'Fira Code';
            font-style: normal;
            font-weight: 450;
            font-size: 16px;
            line-height: 21px;
            color: #607B96;
            text-decoration: none;

        }
        .item__img{
            padding-left: 5px;
            padding-top: 14px;
            padding-right: 22px;
        }
}

